* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --color-balck: #333333;
  --color-green: #38c76f;
  --color-white: #ffffff;
  --color-bluee:rgb(0, 179, 255);
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter";
}

.d-flex1 {
  display: flex;
  font-family: "Inter";
}

.container #main label,
.container .dropdown__menu {
  cursor: pointer;
}
.container .menu,
.container .menu input {
  display: none;
}
.container .menu .bar {
  border: 2px solid var(--color-green);
  width: 30px;
  border-radius: 20px;
  margin: 8px;
}
.container .dropdown__menu {
  z-index: 3;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  transform: translateX(-200px);
  transition: all 0.35s linear;
}
.container .dropdown__menu li {
  padding: 10px 15px;
  margin: 5px;
  background: transparent;
  width: 200px;
  border: 2px solid transparent;
  text-align: center;
}
.container .dropdown__menu li a {
  background-color: transparent;
  color: var(--color-balck);
  font-weight: 400;
  font-size: 20px;
}
.container .dropdown__menu li:hover {
  border: 2px solid var(--color-green);
}
.container .dropdown__menu li:hover a {
  color: var(--color-green);
}
.container .menu input[type=checkbox]:checked ~ .dropdown__menu {
  transform: translateX(0);
}
.container #header {
  height: 85px;
  background: transparent;
  padding: 20px 0;
}
.container .logo {
  width: 148px;
  height: 40px;
}
.container .nav {
  gap: 40px;
}
.container .request {
  color: blue;
  border: 1px solid var(--color-bluee);
  border-radius: 40px;
}
.container .request p {
  margin: 20px 20px 20px 20px;
}
.container .nav .nav__item a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2C2C2C;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.container .nav .nav__item:hover a {
  color: var(--color-green);
  border-bottom: 2px solid var(--color-green);
}
.container .header__buttons .sign__in,
.container .header__buttons .demo,
.container .demo,
.container .phone {
  padding: 13px 27px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  border: none;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s linear;
}
.container .header__buttons .sign__in {
  background: transparent;
  color: var(--color-balck);
  margin-right: 10px;
}
.container .header__buttons .demo,
.container .demo,
.container .phone {
  background: var(--color-green);
  border-radius: 4px;
  color: var(--color-white);
}
.container .header__buttons .demo:hover,
.container .header__buttons .sign__in:hover,
.container .demo:hover,
.container .phone:hover {
  background: transparent;
  color: var(--color-green);
  border: 2px solid var(--color-green);
}
.container .salom3 {
  display: flex;
  gap: 30px;
}
.container .salom3 .main2 {
  margin-right: 690px;
}
.container .salom3 .main2 .pubg .latterVakantsiya {
  width: 280px;
  height: 29px;
}
.container .salom3 .main2 .pubg .latterVakantsiya p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #2C2C2C;
  margin-left: 33px;
}
.container .salom3 .main2 .pubg .dizaynerd {
  height: 155px;
  width: 620px;
  background-color: white;
  box-shadow: 0px 4px 54px rgba(0, 27, 98, 0.03);
  border-radius: 12px;
  margin-left: 33px;
}
.container .salom3 .main2 .pubg .dizaynerd .dizayn {
  flex-direction: row;
  align-items: center;
  padding: 0px 40px 0px 20px;
  gap: 20px;
  margin: 0 auto;
  margin-top: 20px;
  width: 600px;
  height: 150px;
  background: #8FD8AC;
  border-radius: 8px;
}
.container .salom3 .main2 .pubg .dizaynerd .dizayn .dizayn_mobilnix {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: white;
}
.container .salom3 .main2 .pubg .dizaynerd .dizayn .bez-oplati {
  gap: 20px;
  margin-top: 25px;
  color: white;
}
.container .salom3 .main2 .pubg .dizaynerd .dizayn .maya {
  gap: 16px;
  margin-top: 25px;
  color: white;
  margin-right: 135px;
}
.container .salom3 .main2 .dizaynerd1 {
  height: 155px;
  width: 620px;
  background-color: white;
  box-shadow: 0px 4px 54px rgba(0, 27, 98, 0.03);
  border-radius: 12px;
  margin-left: 33px;
}
.container .salom3 .main2 .dizaynerd1 .dizayn {
  flex-direction: row;
  align-items: center;
  padding: 0px 40px 0px 20px;
  gap: 20px;
  margin: 0 auto;
  margin-top: 20px;
  width: 600px;
  height: 150px;
  background: #e4fced;
  border-radius: 8px;
}
.container .salom3 .main2 .dizaynerd1 .dizayn .diozayn_mobilnix {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.container .salom3 .main2 .dizaynerd1 .dizayn .bez-oplati {
  gap: 20px;
  margin-top: 25px;
}
.container .salom3 .main2 .dizaynerd1 .dizayn .maya {
  gap: 16px;
  margin-top: 25px;
  margin-right: 135px;
}
.container .salom3 .chapTomoni {
  margin-left: 680px;
}
.container .salom3 .chapTomoni .vstrechi p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #2C2C2C;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.container .salom3 .chapTomoni .baza p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #2C2C2C;
}
.container .salom3 .chapTomoni .front {
  width: 360px;
  height: 98px;
  background: rgb(235, 237, 237);
  box-shadow: 0px 4px 54px rgba(0, 27, 98, 0.03);
  border-radius: 12px;
  flex: none;
  gap: 15px;
  flex-wrap: wrap;
}
.container .salom3 .chapTomoni .front p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  margin-top: 15px;
  font-size: 18px;
  line-height: 22px;
  color: #2C2C2C;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 90px;
}
.container .salom3 .chapTomoni .front .pe {
  margin-left: 98px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2C2C2C;
  flex: none;
  order: 1;
  flex-grow: 0;
}/*# sourceMappingURL=style.css.map */